header {
    padding: 0.8rem 0;

    .container {
        display: grid;
        gap: 2rem;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo bars";

        @include md {
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo sw bars";
        }

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav sw buttons";
        }

        .logo {
            grid-area: logo;
        }

        nav {
            display: none;
            grid-area: nav;


            @include lg {
                display: flex;
                gap: 1rem;
            }

            a {
                text-decoration: none;
                color: var(--color-gray-800);
                font-weight: 700;

                &.active,
                &:hover {
                    text-decoration: underline;
                }
                
            }
        }

        #theme-mode {
            display: none;
            grid-area: sw;

            @include md {
                display: block;
            }
        }

        .account-buttons {
            display: none;
            grid-area: buttons;

            @include lg {
                display: flex;
                gap: 1rem;
            }
        }

        .btn-bars {
            display: block;
            grid-area: bars;

            @include lg {
                display: none;
            }
        }
    }
}