@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color-gray-000: #FFFFFF;
  --color-gray-100: #F3F6FF;
  --color-gray-200: #EFF2FC;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #EFF2FC;
  --color-theme: #6366F1;
  --color-danger: #F5D7DA;
  --color-danger-dark: #e57e88;
  --color-success: #bcf7d2;
  --color-success-dark: #22C55E;
  --color-warning: #ffe8ad;
  --color-info: #cfdefd;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-700);
  background-color: var(--color-gray-000);
  margin: 0;
}

.display-1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 80px;
}

.display-2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 72px;
}

.display-3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 64px;
}

.display-4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 56px;
}

.display-5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 48px;
}

.display-6 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 42px;
}

h1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 40px;
}

h2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 32px;
}

h3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 28px;
}

h4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 24px;
}

h5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 20px;
}

h6 {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 16px;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color-gray-800);
  outline: none;
  border-radius: 8px;
  padding: 12px 25px;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn i {
  margin-right: 1rem;
}
.btn:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
  text-decoration: none;
}

.btn-theme {
  border: 1px solid var(--color-theme);
  background-color: var(--color-theme);
  color: var(--color-white);
}
.btn-theme:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
}

.btn-gray {
  background: var(--color-gray);
  color: var(--color-black);
  border: 1px solid var(--color-gray);
}
.btn-gray:hover {
  text-decoration: none;
  border: 1px solid var(--color-theme);
  background: var(--color-theme);
  color: var(--color-white);
}

.btn-mobileMenu {
  padding: 0;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color-gray-800);
}
.btn-mobileMenu:hover {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color-gray-800);
}
.btn-mobileMenu i {
  margin: 0;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: var(--color-theme);
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme);
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: var(--color-white);
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-700);
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: var(--color-white);
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: var(--color-gray-700);
  font-family: var(--font-standard);
  color: var(--color-theme);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.nav-link {
  color: var(--color-dark);
  font-weight: 700;
}

textarea,
select,
input:not([type=checkbox]) {
  min-width: 300px;
  font-size: 16px;
  font-family: "manrope";
  font-weight: 400 !important;
  padding: 5px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}
textarea::placeholder,
select::placeholder,
input:not([type=checkbox])::placeholder {
  opacity: 0.5;
}

.input-search-group {
  position: relative;
}
.input-search-group input {
  position: relative;
  padding-right: 40px;
}
.input-search-group i {
  position: absolute;
  top: 14px;
  right: 1rem;
}

.select {
  position: relative;
  min-width: 300px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.select .selected {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
}
.select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  z-index: 10;
}
.select .select-options .option {
  padding: 10px;
  cursor: pointer;
}
.select .select-options .option:hover {
  background-color: var(--color-gray-400);
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
}

form {
  width: 100%;
  display: grid;
  font-size: 16px;
  font-weight: 400 !important;
}
form h1 {
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  form h1 {
    text-align: left;
  }
}
form p {
  text-align: center;
}
@media (min-width: 768px) {
  form p {
    text-align: left;
  }
}
form .input-group {
  display: grid;
}
form .input-group input {
  padding: 11px;
}
form .checkbox-group input[type=checkbox] {
  margin-right: 10px;
}
form .checkbox-group .input-group {
  display: flex;
  align-items: center;
}
form button {
  font-size: 16px;
  font-weight: 400 !important;
  width: 100%;
}
form .field-validation-error {
  font-size: 14px;
  font-weight: 400 !important;
  color: var(--color-danger-dark);
  padding: 2px 5px;
}

.alert {
  border-radius: 8px;
  font-size: 1rem;
  padding: 12px 1rem;
  display: block;
}
.alert .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-dark {
  background-color: var(--color-gray-900);
  color: var(--color-gray-000);
}

.alert-gray {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}

.alert-info {
  background-color: var(--color-info);
  color: var(--color-gray-800);
}

.alert-success {
  background-color: var(--color-success);
  color: var(--color-gray-800);
}

.alert-warning {
  background-color: var(--color-warning);
  color: var(--color-gray-800);
}

.alert-danger {
  background-color: var(--color-danger);
  color: var(--color-gray-800);
}
