@inherits LayoutComponentBase

<div class="container mt-3">
    <nav class="my-4">
        <NavLink class="btn btn-success mx-1" href="/signup">Sign Up</NavLink>
        <NavLink class="btn btn-secondary mx-1" href="/signin">Sign In</NavLink>
    </nav>
</div>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
